body {
    display: grid;
    grid-template-areas:
    "one two two two two"
    "img img img img img"
    "three three four four four"
    "five five five five five"
    "six six six seven seven"
    "eight eight eight eight eight"
    "nine ten eleven twelve thirteen";
    background-color: lightgray;
    width: 100%;
    height: 100%;
    margin: auto;
}

h1 {
    width:90px;
    background-color: teal;
    color: white;
    padding: 10px;
    border: solid black 2px;
    border-radius: 30px;
    grid-area: one;
}

form {
    grid-area: two;
    justify-content: center;
    align-items: center;
}

div {
    width: 100%;
    height: 100px;
    border: solid black;
}

.title {
    background-color: aqua;
    grid-area: three;
}

.titleimg{
    background-color: black;
    grid-area: img;
}

.year{
    background-color: red;
    grid-area: four;
}

.desc {
    background-color: blue;
    grid-area: five;
    color: white;
}

.meta {
    background-color: yellow;
    grid-area: six;
}

.review{
    background-color: teal;
    grid-area: seven;
}

#moregames {
    max-height: 100%;
    color: red;
    grid-area: eight;
}

.similar0{
    background-color: grey;
    grid-area: nine;
}

.similar1{
    background-color: hotpink;
    grid-area: ten;
}

.similar2{
    background-color: indigo;
    grid-area: eleven;
}

.similar3{
    background-color: orange;
    grid-area: twelve;
}

.similar4{
    background-color: paleturquoise;
    grid-area: thirteen;
}

