body {
    background-image: url('https://wallpaperaccess.com/full/240639.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    background-color: #cccccc;
    color: white;
}

.logobar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/199/775/773/neon-4k-8k-geometric-wallpaper-thumb.jpg');
    border: solid whitesmoke 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.icon {
    border: solid whitesmoke;
    background-color: rgb(9, 199, 199);
    color: black;
    border-radius: 30px;
    margin-left: 50px;
    padding: 10px;

}

form{
    display: flex;
    margin-right: 50px;
    align-items: center;
    flex-direction: row;
    width: 50%;
    min-width: 290px;
    margin-bottom: 10px;
}

.game{
    font-weight: bold;
    text-decoration: underline black;
    font-size: 25px;
    color: white;
}

input {
    width: 50%;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    border: solid 3px;
}

input[type='text'] {
    background-color: black;
    color: white;
    text-align: center;
}

::placeholder{
    color: white;
}

input[type='submit']{
    color: black;
    font-weight: bold;
    background-color: lightgray;
}

.container1 {
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: 
    "img"
    "head1" 
    "title" 
    "head2" 
    "date" 
    "head3"
    "meta"
    "desc" 
    "btn"
    "ul";
    font-family: 'Courier New', Courier, monospace;
}

.gameimg {
    grid-area: img;
    height: auto;
    width: 100%;
    max-width: 1000px;
    border: solid whitesmoke 5px;
    border-radius: 50px;
}

.title1, .date1, .meta1 {
    grid-area: head1;
    font-weight: bolder;
    font-size: 30px;
    border: solid whitesmoke 2px; 
    border-radius: 30px;
    background-color: rgb(9, 199, 199);
    padding: 10px;
    color: black;
}

.title, .date, .meta {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center ;
}

.title {
    grid-area: title;
    min-height: 100px;
}

.date1 {
    grid-area: head2;
}

.date {
    grid-area: date;
    min-height: 100px;
    text-align: center;
}

.meta1 {
    grid-area: head3;
}

.meta {
    display: flex;
    grid-area: meta;
    min-height: 100px;
    width: 100px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Gold_square.svg/1024px-Gold_square.svg.png);
    background-color: gold;
    border-radius: 20px;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.desc {
    display: flex;
    grid-area: desc;
    padding: 10px;
}

#moregames {
    display: flex;
    grid-area: btn;
}

#similar {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    width: 100%;
    color: white;
    grid-area: ul;
    padding: 0;
}


/* ***************************
** Tablet Media Query
*************************** */

@media screen and (min-width: 480px){
    .container1 {
        display: grid;
        flex-wrap: wrap;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
        "img img img"
        "head1 head2 head3"
        "title date meta"
        "desc desc desc"
        "btn btn btn"
        "ul ul ul";
        font-family: 'Courier New', Courier, monospace;
    }
  }
  
  /* ***************************
  ** Desktop Media Query
  *************************** */
  
  @media screen and (min-width: 480px){
    .container1 {
        display: grid;
        flex-wrap: wrap;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
        "img img img"
        "head1 head2 head3"
        "title date meta"
        "desc desc desc"
        "btn btn btn"
        "ul ul ul";
        font-family: 'Courier New', Courier, monospace;
    }
  }