.logobar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

.logobar p{
    border: solid blue;
    font-weight: bold;
}

h1 {
    width:90px;
    background-color: teal;
    color: white;
    padding: 10px;
    border: solid black 2px;
    border-radius: 30px;
}

form {
    justify-items: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
    "img img img img img"
    "three three four four four"
    "five five five five five"
    "six six seven seven seven"
    "eight eight eight eight eight"
    "nine ten eleven twelve thirteen";
    column-gap: 10px;
    row-gap: 10px;
    background-color: lightgray;
    justify-items: center;
    text-align: center;
    margin: auto;
}

div {
    width: 100%;
    height: 100%;
}

.title {
    background-color: aqua;
    grid-area: three;
}

.titleimg{
    background-color: black;
    grid-area: img;
    color: white;
}

.date{
    background-color: red;
    grid-area: four;
}

.desc {
    background-color: blue;
    grid-area: five;
    color: white;
}

.meta {
    background-color: yellow;
    grid-area: six;
}

.review{
    background-color: teal;
    grid-area: seven;
}

#moregames {
    height: 100%;
    color: red;
    grid-area: eight;
}

.similar0{
    background-color: grey;
    grid-area: nine;
}

.similar1{
    background-color: hotpink;
    grid-area: ten;
}

.similar2{
    background-color: indigo;
    grid-area: eleven;
}

.similar3{
    background-color: orange;
    grid-area: twelve;
}

.similar4{
    background-color: paleturquoise;
    grid-area: thirteen;
}

