.logobar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: dotted;
}

.icon {
    border: solid black;
    background-color: teal;
    color: white;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;

}

form{
    margin-right: 50px;
}

.container {
    display: grid;
    grid-template-areas: 
    "img"
    "title"
    "date"
    "desc"
    "meta"
    "review"
    "button"
    "sim0"
    "sim1"
    "sim2"
    "sim3"
    "sim4";
    justify-content: center;
    width: 400px;
    height:1000px
    margin: auto;

}

.container div {
    height: 100%;
    width: 100%;
}

.title1 {
    grid-area: title;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    grid-area: title;
}

.titleimg{
    background-color: black;
    color: white;
    grid-area: img;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    grid-area: date;
}

.desc {
    background-color: blue;
    color: white;
    grid-area: desc;
}

.meta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    grid-area: meta;
}

.review{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    grid-area: review;
}

#moregames {
    height:30px;
    width: 100px;
    color: red;
    grid-area: button;
}

.similar0{
    background-color: grey;
    grid-area: sim0;
}

.similar1{
    background-color: hotpink;
    grid-area: sim1;
}

.similar2{
    background-color: indigo;
    grid-area: sim2;
}

.similar3{
    background-color: orange;
    grid-area: sim3;
}

.similar4{
    background-color: paleturquoise;
    grid-area: sim4;
}

/* ***************************
** Tablet Media Query
*************************** */

@media screen and (min-width: 480px){
    .container {
      display: grid;
      grid-template-areas:
      "img img img"
      "title title date"
      "desc desc desc"
      "met meta review"
      "button button button"
      "sim0 sim1 sim2"
      "sim3 sim4 sim5";
      width: 100%;
      height: 100vh;
      margin: auto;
    }
  }
  
  /* ***************************
  ** Desktop Media Query
  *************************** */
  
  @media screen and (min-width: 769px){
    .container {
        display: grid;
        grid-template-areas: 
        "img img img img img"
        "title desc desc desc desc"
        "title desc desc desc desc"
        "date desc desc desc desc"
        "meta meta meta review review"
        "button button button button button"
        "sim0 sim1 sim2 sim3 sim4";
        justify-items: center;
        width: 100%;
        height: 100vh;
        margin: auto;
    }
  }